.footer__container {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  min-height: 248px;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}

@media screen and (max-width: 1012px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 560px) {
  .footer__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    max-height: 650px;
  }
}
