.product-categories__paragraph.product-categories__paragraph_border-for-label {
  top: 166px;
  font-size: 16px;
}

.product-categories__paragraph.product-categories__paragraph_border-for-label::before {
  content: "";
  display: block;
  position: absolute;
  top: 42%;
  left: 21px;
  width: 41px;
  height: 1px;
  background: #fff;
}

.product-categories__paragraph.product-categories__paragraph_border-for-label::after {
  content: "";
  display: block;
  position: absolute;
  top: 42%;
  right: 27px;
  width: 39px;
  height: 1px;
  background: #fff;
}
