.form-order__container.form-order__container_time {
  grid-area: time;
  width: 110px;
}

@media screen and (max-width: 1024px) {
  .form-order__container.form-order__container_time {
    justify-self: end;
  }
}

@media screen and (max-width: 940px) {
  .form-order__container.form-order__container_time {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 450px) {
  .form-order__container.form-order__container_time {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
}
