.header__link.header__link_tel {
  font-weight: bold;
  margin-left: 151px;
  font-size: 17px;
  letter-spacing: 0px;

  position: relative;
}

.header__link.header__link_tel::after {
  content: " ";
  position: absolute;
  top: 3px;
  left: -16px;
  width: 12px;
  height: 17px;
  background-image: url("phone.png");
  background-repeat: no-repeat;
}

@media screen and (max-width: 989px) {
  .header__link.header__link_tel {
    margin-left: 30px;
  }
}

@media screen and (max-width: 685px) {
  .header__link.header__link_tel {
    margin-left: 50px;
    order: 2;
    width: 50%;
  }
}

@media screen and (max-width: 416px) {
  .header__link.header__link_tel {
    order: 2;
    width: 40%;
    font-size: 13px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 342px) {
  .header__link.header__link_tel {
    order: -1;
    width: 40%;
    font-size: 12px;
  }
}
