.navigation__content {
  max-width: 950px;
  height: 57px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .navigation__content {
    margin: 0;
    margin-left: 35px;
  }
}

@media screen and (max-width: 360px) {
  .navigation__content {
    margin-left: 7px;
  }
}
