.social-icons_header {
}

@media screen and (max-width: 685px) {
  .social-icons_header {
    margin-left: 10px;
    order: 3;
  }
}

@media screen and (max-width: 342px) {
  .social-icons.social-icons_header {
    display: none;
  }
}
